- model_class = Condition
.page-header
  %h1              
    = link_to t('.list_all', :default => t("helpers.links.list_all")), conditions_path, :class => 'btn'  
    = @condition.name   
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_condition_path(@condition), :class => 'btn' 

%p
  %strong= model_class.human_attribute_name(:category) + ':'
  = @condition.category
  %strong= model_class.human_attribute_name(:description) + ':'
  = @condition.description
  = link_to "More Info", @condition.url, :target=>"_new"

%p
  %h2
    = "Available Programs"
    = link_to t('.new', :default => t("helpers.links.new")), new_condition_action_program_path(@condition), :class => 'btn btn-primary'
    
  %br
  =#render :partial => "action_programs/listing", :locals=>{:action_programs=>@condition.action_programs, :model_class=>ActionProgram } 
  =render :partial => "action_programs/grid", :locals=>{:action_programs=>@condition.action_programs, :model_class=>ActionProgram } 
  
