#masonry
  - physicians.each do |physician|
    .item
      = image_tag(physician.cover_url, :alt=>physician.name, :width=>"100%") 
      .comments
        %h2= link_to physician.name, physician_path(physician) 
      .info
        .infobox
          = physician.email
          %br
          = physician.phone
        .infobox
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_physician_path(physician), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), physician_path(physician), :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-mini btn-danger'
        .infobox
          %h3 Patients
          -physician.patients.each do |patient|
            =link_to patient.name, patient

          

