- model_class = Physician
.page-header
  %h1
    = link_to t('.all', :default => t("helpers.links.all")), physicians_path, :class => 'btn' 
    = @physician.name
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_physician_path(@physician), :class => 'btn'

%p
  %strong Contact
  = @physician.email
  = @physician.phone
%p
  %strong= model_class.human_attribute_name(:specialty) + ':'
  = @physician.specialty
%p
  %h2
    = "Patients"
    = link_to t('.new', :default => t("helpers.links.new")), new_physician_patient_path(@physician), :class => 'btn btn-primary'       
  =render :partial => "patients/listing", :locals=>{:patients=>@physician.patients, :model_class=>Patient } 

