= form_for @patient, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label "Name", :class => 'control-label'
    .controls
      = f.text_field :first_name, :class => 'text_field'
  .control-group
    .controls
      = f.text_field :last_name, :class => 'text_field'
  .control-group
    = f.label :email, :class => 'control-label'
    .controls
      = f.text_field :email, :class => 'text_field'
  .control-group
    = f.label :phone, :class => 'control-label'
    .controls
      = f.text_field :phone, :class => 'text_field'
  

  .control-group
    = f.label :physician_id, :class => 'control-label'
    .controls
      = f.select :physician_id, Physician.all.collect { |t| [t.name, t.id]}, :prompt => "Choose Physician", :class => 'select'
  .control-group
    = f.label :conditions_id, :class => 'control-label'
    .controls
      = f.select :conditions_id, Condition.all.collect { |t| [t.name, t.id]}, :prompt => "Choose Condition", :class => 'select'

  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), patients_path, :class => 'btn'

-if params[:detail]     
  .control-group
    = f.label :description, :class => 'control-label'
    .controls
      = f.text_area :description, :class => 'text_area'
  .control-group
    = f.label :state, :class => 'control-label'
    .controls
      = f.text_field :state, :class => 'text_field'
  .control-group
    = f.label :engaged_at, :class => 'control-label'
    .controls
      = f.datetime_select :engaged_at, :class => 'datetime_select'
  .control-group
    = f.label :last_contact, :class => 'control-label'
    .controls
      = f.datetime_select :last_contact, :class => 'datetime_select'
  .control-group
    = f.label :carepass_id, :class => 'control-label'
    .controls
      = f.text_field :carepass_id, :class => 'text_field'
  .control-group
    = f.label :mhealth_id, :class => 'control-label'
    .controls
      = f.text_field :mhealth_id, :class => 'text_field'
