#masonry
  - patients.each do |patient|
    .item
      = image_tag(patient.cover_url, :alt=>patient.name, :width=>"100%") 
      .comments
        %h2= link_to patient.name, patient_path(patient) 
      .info
        .infobox
          = patient.email
          = patient.phone
          = link_to patient.condition, condition_path(patient.condition)
        .infobox
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_patient_path(patient), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), patient_path(patient), :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-mini btn-danger'
