- model_class = Patient
.page-header
  %h1 
    = link_to t('.back', :default => t("helpers.links.back")), patients_path, :class => 'btn'
    
    = @patient.name
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_patient_path(@patient), :class => 'btn' 


%p
  %strong Contact
  = @patient.email
  = @patient.phone
%p
  %strong= model_class.human_attribute_name(:physician_id) + ':'
  = @patient.physician
%p
  %h2
    = "Condition" + ':'
    = @patient.condition
%p
  %strong Action Programs
  -@patient.condition.action_programs.each do |action_program|
    = link_to action_programs, action_program_path(action_programs)

.form-actions
  

-if params[:detail]
  %p
    %strong= model_class.human_attribute_name(:state) + ':'
    %br
    = @patient.state
  %p
    %strong= model_class.human_attribute_name(:engaged_at) + ':'
    %br
    = @patient.engaged_at
  %p
    %strong= model_class.human_attribute_name(:last_contact) + ':'
    %br
    = @patient.last_contact
  %p
    %strong= model_class.human_attribute_name(:carepass_id) + ':'
    %br
    = @patient.carepass_id
  %p
    %strong= model_class.human_attribute_name(:mhealth_id) + ':'
    %br
    = @patient.mhealth_id
  %p
    %strong= model_class.human_attribute_name(:actions_id) + ':'
    %br
    = @patient.actions_id
    %p
      %strong= model_class.human_attribute_name(:description) + ':'
      %br
      = @patient.description 