- model_class = ActionProgram
.page-header
  %h1                            
    = link_to t('.list', :default => t("helpers.links.list")), action_programs_path, :class => 'btn'     
    = "#{@action_program.name} for "   
    =link_to @action_program.condition, condition_path(@action_program.condition)                                                                      
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_action_program_path(@action_program), :class => 'btn' 

%p
  %strong
    = @action_program.category
  = @action_program.description
%p
  %h2 
    ="Patient Actions"
    = link_to t('.new', :default => t("helpers.links.new")), new_action_program_action_task_path(@action_program), :class => 'btn btn-primary' 
    
  %br
  =render :partial => "action_tasks/listing", :locals=>{:action_tasks=>@action_program.action_tasks, :model_class=>ActionTask }  
  