- model_class = ActionTask
.page-header
  %h1                                
    -if @action_task.action_program 
      = "#{@action_task.action_program.condition} >" 
      = " #{@action_task.action_program } >" 
      
    = "New Task "
= render :partial => "form"
