- model_class = ActionTask
.page-header
  %h1
    = "New Task "                                
    -if @action_task.action_program 
      = " > For #{@action_task.action_program }" 
      = "> In #{@action_task.action_program.condition}"
= render :partial => "form"
