- model_class = ActionTask
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @action_task.name
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @action_task.description
%p
  %strong= model_class.human_attribute_name(:url) + ':'
  %br
  = @action_task.url
%p
  %strong= model_class.human_attribute_name(:state) + ':'
  %br
  = @action_task.state
%p
  %strong= model_class.human_attribute_name(:type) + ':'
  %br
  = @action_task.type
%p
  %strong= model_class.human_attribute_name(:category) + ':'
  %br
  = @action_task.category
%p
  %strong= model_class.human_attribute_name(:action_program_id) + ':'
  %br
  = @action_task.action_program_id

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), action_tasks_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_action_task_path(@action_task), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), action_task_path(@action_task), :method => "delete", :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger'
